/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  color: rgb(51, 73, 133);
}

footer{
  font-size:  10px;
  color:  black;
  opacity: 0.75;
}



